<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>

<p><%= link_to 'New product', new_product_path %></p>

<% if @products.count == 0 %>
  <p>There are no products in database.</p>
<% else %>
  <p>We have <%= @products.count %> in out database.</p>
<% end %>


<ul id="products-listing" data-update-url="<%= sort_products_products_path %>">
<% @products.each do |product| %>
  <%= content_tag_for :li, product do %>
    <span class="drag-handle">[drag]</span> <%= link_to(product.name, product_path(product)) %>
  <% end %>
<% end %>

</ul>
