<h1>Products#show</h1>
<p>Find me in app/views/products/show.html.erb</p>


<p><b><%= @product.name %></b></p>
<p><%= image_tag(@product.image, size: "200x200") %></p>
<p><%= @product.description %></p>
<p><%= @product.price %></p>

<p><%= link_to 'Home page', root_path %></p>
<p><%= link_to 'Edit product', edit_product_path(@product) %></p>
<p><%= link_to 'Destroy',  @product,  method: :delete, data: { confirm: 'Are you sure?' } %></p>
